@model bimestre4.Models.ViewModel<bimestre4.Models.Vaga,bimestre4.Models.TecnologiaVaga,bimestre4.Models.Tecnologia>
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Vaga</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.genericModel.NomeVaga)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.genericModel.NomeVaga)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.genericModel.DescVaga)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.genericModel.DescVaga)
    </div>
    <div class="display-field">
    <table>
        <tr>
            <th>Tecnologias</th>
            <th>Pesos</th>
        </tr>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(listItem => item.Tecnologia.NomeTecnologia)
                </td>
                <td>
                    @Html.DisplayFor(listItem => item.Peso)
                </td>
            </tr>
        }
    </table>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.genericModel.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
