@model IEnumerable<TrabalhoBimestre3.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de usuarios</h2>

<p>
    @Html.ActionLink("Adicionar", "AdicionaUsuario")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Senha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Senha)
        </td>
        <td>
            @Html.ActionLink("Editar", "ModificaUsuario", new { id=item.Id }) |
            @Html.ActionLink("Deletar", "ApagaUsuario", new { id=item.Id })
        </td>
    </tr>
}

</table>
