@model bimestre4.Models.CandidatoTecnologia

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CandidatoTecnologia</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TecnologiaID, "Tecnologia")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TecnologiaID", String.Empty)
            @Html.ValidationMessageFor(model => model.TecnologiaID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CandidatoID, "Candidato")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CandidatoID", String.Empty)
            @Html.ValidationMessageFor(model => model.CandidatoID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
