@model IEnumerable<bimestre4.Models.TecnologiaVaga>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tecnologia.NomeTecnologia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vaga.NomeVaga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tecnologia.NomeTecnologia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vaga.NomeVaga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { item.TecnologiaID, item.VagaID }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
