@model bimestre4.Models.ViewModel<bimestre4.Models.Candidato, bimestre4.Models.CandidatoTecnologia, bimestre4.Models.Tecnologia>

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Candidato</legend>

        @Html.HiddenFor(model => model.genericModel.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.genericModel.NomeCandidato)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.genericModel.NomeCandidato)
            @Html.ValidationMessageFor(model => model.genericModel.NomeCandidato)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.genericModel.Telefone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.genericModel.Telefone)
            @Html.ValidationMessageFor(model => model.genericModel.Telefone)
        </div>

        <div class="editor-field">
            <table>
                @{

                    foreach (var tecnologia in Model.FullList)
                    {
                    <tr>
                        <td>
                            <input 
                                    type="checkbox" 
                                    name="tecnologiasSelecionadas" 
                                    value="@tecnologia.ID" 
                                    @(Html.Raw(Model.List.Any(x=> x.TecnologiaID == tecnologia.ID) ? "checked=\"checked\"" : "")) />
                                    @tecnologia.ID @tecnologia.NomeTecnologia 
                        </td>
                    </tr>
                    }
                }
            </table>
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
