@model TrabalhoBimestre3.Models.Usuario

@using (Html.BeginForm("Cadastro", "Home", null))
@Html.ValidationSummary(true)
{
    <fieldset>
	    <legend>Cadastro de usuario</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NomeCompleto)
        </div>
       
		<div class="editor-field">
			@Html.EditorFor(model => model.NomeCompleto)
            @Html.ValidationMessageFor(model => model.NomeCompleto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataNascimento)
        </div>
       
		<div class="editor-field">
			@Html.EditorFor(model => model.DataNascimento)
            @Html.ValidationMessageFor(model => model.DataNascimento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NomeUsuario)
        </div>
       
		<div class="editor-field">
			@Html.EditorFor(model => model.NomeUsuario)
            @Html.ValidationMessageFor(model => model.NomeUsuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Senha)
        </div>
       
		<div class="editor-field">
			@Html.EditorFor(model => model.Senha)
            @Html.ValidationMessageFor(model => model.Senha)
        </div>

       <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmaSenha)
        </div>
       
		<div class="editor-field">
			@Html.EditorFor(model => model.ConfirmaSenha)
            @Html.ValidationMessageFor(model => model.ConfirmaSenha)
        </div>
			
    </fieldset>
    <p>
        <input type="submit" value="Enviar" />
    </p>
}